<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697779567641-ljq5ob81a0bf7ftu0bukh93roli2mc7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697779567641-ljq5ob81a0bf7ftu0bukh93roli2mc7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDPGpiK6Pd0ny1-hq-e7D-PDCg9rJSMVVI</string>
	<key>GCM_SENDER_ID</key>
	<string>697779567641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>final-exam-flutter-92d58</string>
	<key>STORAGE_BUCKET</key>
	<string>final-exam-flutter-92d58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697779567641:ios:e8ea349c4e64af1ab6fe88</string>
</dict>
</plist>